# Ignore database CSV/JSON files
db/*.csv
db/*.json
db/transactions/*.csv
db/test/
db/backups/
!db/config.public.json
!db/examples/

# MacOS
.DS_Store

# Ignore sensitive server files
server.log
.server.pid

# ignore to_do.md
to_do.md
