# Ignore database CSV files
db/*.csv
db/transactions/*.csv
db/test/
db/backups/
!db/config.public.csv
!db/examples/

# MacOS
.DS_Store

# Ignore sensitive server files
server.log
.server.pid

# ignore to_do.md
to_do.md
